.ex2{
    background-color: #EE8100;
    height: 100vh;
    display: block;
    background-size: 100%;
    overflow: auto;
    
}
#excelg{
    padding-top: 5vh;
    padding-left: 35vw;
    max-width: 45%;
    max-height:45%;
}
.branch{
    padding-top: 10vh;
    display: flexbox;
    align-items: center;
    

}
.btn{
    font-weight: bold;
    padding: 1vh 5vw;
    background-color: #2D2D2D;
    color: #B63CF8;
    border-radius: 30px;
    margin-top: 1vh;
    margin-left: 1vw;
}
.btn:hover{
    background-color: #EE8100;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}
.clscount{
    /* padding-top: 66vh; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;

}
select{
    font-weight: bold;
    padding: 1vh 1vw;
    background-color: #2D2D2D;
    color: #B63CF8;
    border-radius: 30px;
    margin-top: 1vh;
    margin-left: 1vw;
}
#continue{
    margin-top: 10vh;
    margin-bottom: 2vh;
    margin-left: 80vw;
}