.ex4{
    background-color: #EE8100;
    height: 100vh;
    display: block;
    background-size: 100%;
    overflow: auto;
    
}
.room-button{
    font-weight: bold;
    padding: 1vh 5vw;
    background-color: #2D2D2D;
    color: #B63CF8;
    border-radius: 30px;
    margin-top: 1vh;
    margin-left: 1vw;
}
.selected{
    background-color: #B63CF8;
    color: #2D2D2D;
}