.inv1{
    background-color: #2D2D2D;
    height: 100vh;
    display: block;
    background-size: 100%;
    overflow: auto;
    
}
.inv{
    margin-left: 70vw;
    color: #FF9B26;
} 
.input-container{
    margin-top: auto;
    margin-left: auto;
}
.text{
    background-color: #FF9B26;
    color: #2D2D2D;
    padding: 0.2vh 3vw;
    border-radius: 30px;
}
.input-field{
    background-color: #2D2D2D;
    outline: white 2px 2px 2px 2px;
    color: #FF9B26;
    border-radius: 30px;
}